body, html {
    margin: 0;
    padding: 0;
    background-image: url('bacground1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15vw;
    background-image: linear-gradient(180deg,
    rgba(99,253,136,1)0%,
    rgba(55, 197, 142, 1)50%,
    rgba(39,97,116,1)100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.controls {
    margin-top: 16px;
}

button {
    justify-content: center;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.set-alarm {
    background-color: #8e1899;
}
.set-alarm:hover{
        background: #8e18996b;
}

.clear-alarm {
    background-color: #b22222;
}
.clear-alarm:hover{
    background-color: #b222226b;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: #5d49542d;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color: #B026FF;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}
.setup{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0.3em 1em;
    border-radius: 24px;
    background: #6f068f8b;
    color: whitesmoke;
    font-family: inherit;
    font-size: 105%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.setup:hover{
    background: #6f068f2b;
}